.kaufman__triangle{
  position: absolute;
  top: 0px;
  right:-210px;
  width:877px;
  height:877px;
  background-image: url('../../../images/kaufman-triangle.svg');
  z-index: -1;
  animation: rotation 20s linear infinite normal forwards;
  background-size: contain;
  }
