.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0px;
  list-style-type: none;
  padding: 0px;
}

.footer__column-links:first-of-type{
  margin-top:20px;
}

.footer__column-links:last-of-type{
  margin-bottom: 16px;
}
