.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
  border: 1px solid red;
  }


.logo{
  position: absolute;
}
/* does this and subtitle appear in front of other blocks on a smaller screen? */
.logo_place_header{
  width: 154px;
  height: 31px;
  top:30px;
  left:64px;
  z-index: 1;
}

.header__title{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-left:64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  text-emphasis: bold;
}

.header__subtitle{
  width: 388px;
  position: absolute;
  z-index: 1;
  line-height: 25px;
  font-size: 18px;
  text-emphasis: normal;
  left: 64px;
  bottom: 30px;
}



.header__main-illustration{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;

}

.header__square-pic{
  width:568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right:0;

}


/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
